In [1]:
import pandas as pd
from numpy import nan
import category_encoders as ce
pd.set_option('display.max_columns', 500)

be = ce.BinaryEncoder()

df = pd.read_csv('data.csv', low_memory=False)

print('target: ', df.y.dtypes)
print(df.shape)
df.head()

FileNotFoundError: [Errno 2] File b'data.csv' does not exist: b'data.csv'

In [2]:
# df.isna().sum()

In [3]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from fancyimpute import SimpleFill, IterativeImputer, KNN
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.model_selection import cross_val_score as cvs
X_y = df#.sample(20000)
X = X_y.drop('y', axis=1)
y = X_y.y

Using TensorFlow backend.

In [4]:
pipe = Pipeline(steps = [('impute', SimpleFill(fill_method="mean")), ('scaler', StandardScaler()), ('linear', Ridge())])

pipe.fit(X, y)

ValueError: Input contains infinity or a value too large for dtype('float64').

In [74]:
from sklearn.base import BaseEstimator

?SimpleFill

# titanic 

- make demon, remove data
- make function that takes a df and a list of imputers, returns a df of coefs or feature importances.

In [2]:
from typing import List
from sklearn.base import BaseEstimator
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from fancyimpute import SimpleFill, IterativeImputer, KNN
from sklearn.ensemble import RandomForestRegressor, RandomForestRegressor
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.impute import SimpleImputer
from sklearn.model_selection import cross_val_score as cvs
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('dark_background')
from category_encoders import BinaryEncoder
from tqdm import tqdm
from scipy.stats import bernoulli




titanic_ = pd.read_csv('titanic-train.csv')

be = BinaryEncoder()
titanic = be.fit_transform(titanic_.drop(['Name', 'Ticket', 'Cabin', 'PassengerId', 'Survived'], axis=1))

survived = titanic_.Survived




def mk_regressions(imputers: List[BaseEstimator]) -> List[Pipeline]: 
    return [Pipeline(steps = [('impute', imputer), ('regress', Ridge())]) for imputer in imputers]

def mk_ensembles(imputers: List[BaseEstimator]) -> List[Pipeline]:
    return [Pipeline(steps = [('impute', imputer), ('tree', RandomForestRegressor())]) for imputer in imputers]

def demon(dat: pd.DataFrame, ratio: float) -> pd.DataFrame: 
    def ident_or_nan(x: float) -> float: 
        coin = bernoulli(ratio)
        if coin.rvs()==1: 
            return nan
        else: 
            return x
    
    return dat.assign(**{feat: [ident_or_nan(x) for x in dat[feat].values] for feat in dat.columns})



def mk_df(estimators: List[Pipeline], ratio: float, passes: int = 10) -> pd.DataFrame: 

    weights = {}
    
    # control
    for lm in regressions:
        label_ = 'control_'+lm.steps[0][1].__str__().split('(')[0]
        lm.fit(titanic, survived)
        weights[label_] = lm.named_steps[lm.steps[1][0]].coef_
        np.append(weights[label_], [lm.steps[0][1].__str__().split('(')[0]])
    
    for k in tqdm(range(passes), desc='fitting three models EACH  '): 
        
        for lm in regressions: 
            lm.fit(demon(titanic, ratio=ratio), survived)
            weights[k] = lm.named_steps[lm.steps[1][0]].coef_
            np.append(weights[k], [lm.steps[0][1].__str__().split('(')[0]])
    
    return (pd.DataFrame(weights)
            .rename(columns={'KNN(fill_meth': 'KNN'})
            .T
            .rename(columns={k: f'coef_{k+1}' 
                             for k 
                             in range(titanic.shape[1])}))

regressions = mk_regressions([SimpleImputer(strategy="mean"), IterativeImputer(), KNN(k=3, verbose=False)])

regressor_df = mk_df(regressions, 0.3)

# trees = mk_ensembles([SimpleImputer(strategy="mean"), IterativeImputer(), KNN(k=3, verbose=False)])

# trees_df = mk_df(trees)

# trees_df.boxplot()
fig, ax = plt.subplots()
ax.set_title('spread of coefs with 30% missing')
regressor_df.boxplot(grid=False, ax=ax);

Using TensorFlow backend.
fitting three models EACH  :  10%|█         | 1/10 [00:23<03:27, 23.11s/it]

KeyboardInterrupt:

In [ ]:
from sklearn.model_selection import train_test_split
from scipy.stats import bernoulli




def demon(dat: pd.DataFrame, ratio: float) -> pd.DataFrame: 
    def ident_or_nan(x: float) -> float: 
        coin = bernoulli(ratio)
        if coin.rvs()==1: 
            return nan
        else: 
            return x
    
    return dat.assign(**{feat: [ident_or_nan(x) for x in dat[feat].values] for feat in dat.columns})

demon(titanic, 0.1).isna().sum()

In [154]:
demon

Pclass          0
Sex_0           0
Sex_1           0
Age           177
SibSp           0
Parch           0
Fare            0
Embarked_0      0
Embarked_1      0
Embarked_2      0
dtype: int64

In [157]:
?KNN

Init signature:
KNN(
    k=5,
    orientation='rows',
    use_argpartition=False,
    print_interval=100,
    min_value=None,
    max_value=None,
    normalizer=None,
    verbose=True,
)
Docstring:
k-Nearest Neighbors imputation for arrays with missing data.
Works only on dense arrays with at most a few thousand rows.

Assumes that each feature has been centered and rescaled to have
mean 0 and variance 1.

Inspired by the implementation of kNNImpute from the R package
imputation.
See here:
https://www.rdocumentation.org/packages/imputation/versions/2.0.3/topics/kNNImpute
Init docstring:
Parameters
----------
k : int
    Number of neighboring rows to use for imputation.

orientation : str
    Which axis of the input matrix should be treated as a sample
    (default is "rows" but can also be "columns")

use_argpartition : bool
   Use a more naive implementation of kNN imputation whichs calls
   numpy.argpartition for each row/column pair. May give NaN if fewer
   than k neighbors are available for a missing value.

print_interval : int

min_value : float
    Minimum possible imputed value

max_value : float
    Maximum possible imputed value

normalizer : object
    Any object (such as BiScaler) with fit() and transform() methods

verbose : bool
File:           /opt/conda/lib/python3.7/site-packages/fancyimpute/knn.py
Type:           type
Subclasses:

In [1]:
15 * 30

450

In [3]:

titanic_ = pd.read_csv('titanic-train.csv')

be = BinaryEncoder()
titanic = be.fit_transform(titanic_.drop(['Name', 'Ticket', 'Cabin', 'PassengerId', 'Survived'], axis=1))

survived = titanic_.Survived


titanic.isna().sum()

Pclass          0
Sex_0           0
Sex_1           0
Age           177
SibSp           0
Parch           0
Fare            0
Embarked_0      0
Embarked_1      0
Embarked_2      0
dtype: int64

In [14]:
print("missing rate by feature: ")
(titanic_.isna().sum() / titanic_.shape[0]).map(lambda f: f"{f*100:.4} %")

missing rate by feature:

PassengerId       0.0 %
Survived          0.0 %
Pclass            0.0 %
Name              0.0 %
Sex               0.0 %
Age             19.87 %
SibSp             0.0 %
Parch             0.0 %
Ticket            0.0 %
Fare              0.0 %
Cabin            77.1 %
Embarked       0.2245 %
dtype: object

In [20]:
titanic_.isna().corr()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Survived,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pclass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Name,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,0.144111,-0.023616
SibSp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Parch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ticket,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fare,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cabin,NaN,NaN,NaN,NaN,NaN,0.144111,NaN,NaN,NaN,NaN,1.000000,-0.087042
Embarked,NaN,NaN,NaN,NaN,NaN,-0.023616,NaN,NaN,NaN,NaN,-0.087042,1.000000

In [21]:
titanic_.fillna('mean')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,mean,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,mean,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,mean,S
5,6,0,3,"Moran, Mr. James",male,mean,0,0,330877,8.4583,mean,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.0750,mean,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,mean,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,mean,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20,0,0,A/5. 2151,8.0500,mean,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39,1,5,347082,31.2750,mean,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,7.8542,mean,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55,0,0,248706,16.0000,mean,S
16,17,0,3,"Rice, Master. Eugene",male,2,4,1,382652,29.1250,mean,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,mean,0,0,244373,13.0000,mean,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31,1,0,345763,18.0000,mean,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,mean,0,0,2649,7.2250,mean,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35,0,0,239865,26.0000,mean,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15,0,0,330923,8.0292,mean,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8,3,1,349909,21.0750,mean,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38,1,5,347077,31.3875,mean,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,mean,0,0,2631,7.2250,mean,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,mean,0,0,330959,7.8792,mean,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,mean,0,0,349216,7.8958,mean,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21,1,0,28134,11.5000,mean,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,mean,8,2,CA. 2343,69.5500,mean,S
864,865,0,2,"Gill, Mr. John William",male,24,0,0,233866,13.0000,mean,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42,0,0,236852,13.0000,mean,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27,1,0,SC/PARIS 2149,13.8583,mean,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,mean,0,0,345777,9.5000,mean,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4,1,1,347742,11.1333,mean,S
870,871,0,3,"Balkic, Mr. Cerin",male,26,0,0,349248,7.8958,mean,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47,0,0,345765,9.0000,mean,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28,1,0,P/PP 3381,24.0000,mean,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15,0,0,2667,7.2250,mean,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20,0,0,7534,9.8458,mean,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19,0,0,349212,7.8958,mean,S
878,879,0,3,"Laleff, Mr. Kristo",male,mean,0,0,349217,7.8958,mean,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25,0,1,230433,26.0000,mean,S
881,882,0,3,"Markun, Mr. Johann",male,33,0,0,349257,7.8958,mean,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22,0,0,7552,10.5167,mean,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28,0,0,C.A./SOTON 34068,10.5000,mean,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25,0,0,SOTON/OQ 392076,7.0500,mean,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39,0,5,382652,29.1250,mean,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13.0000,mean,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,mean,1,2,W./C. 6607,23.4500,mean,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.7500,mean,Q